.projects__gallery-item {
  position: relative;
  width: fit-content;
}

.gallery__img {
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  box-shadow: var(--shadow-elevation-low);
}

.gallery__item-info {
  width: 100%;
  height: calc(100% - 24px);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background: linear-gradient(
    180deg,
    var(--black-transparent-02) 20%,
    var(--black-transparent-08) 75%
  );
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  opacity: 0;
}

.gallery__item-info:hover {
  opacity: 1;
  box-shadow: var(--shadow-elevation-medium);
}

.item__title {
  font-size: var(--step-1);
  font-weight: 700;
}

.item__title a {
  color: var(--light-blue);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: 0.3s ease-in-out;
}

.item__title a:hover {
  text-decoration: underline;
  transform: translateY(-2px) translateX(2px);
}

.item__title-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.item__description {
  font-size: var(--step-0);
  font-weight: 500;
  line-height: 1.2;
  color: var(--white);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0;
}

.footer__links {
  display: flex;
  gap: 1rem;
}

.footer__links a {
  font-size: var(--step--1);
  font-weight: 500;
  color: var(--white);
  text-decoration: none;
  transition: 0.3s ease-in-out;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer__links a:hover {
  color: var(--light-blue);
  text-decoration: underline;
}

.footer__links a svg {
  color: var(--light-blue);
}

.footer__icons {
  font-size: var(--step-0);
  font-weight: 400;
  color: var(--white);
}

.opacity {
  opacity: 1;
}
