---
import Layout from '../../layouts/Layout.astro'
import Header from '../Header.astro'
import Bento from '../Bento.astro'
import Experience from '../Experience.astro'
import Projects from '../Projects/Projects.astro'
import Skills from '../Skills.astro'
import Contact from '../Contact.astro'
import Footer from '../Footer.astro'
import Nav from '../Nav.astro'

const { currentLocale = 'es' } = Astro

const locales = {
  es: {
    title: 'Juan-Camilo-Losada | Portafolio',
    description:
      'Desarrollador Frontend Junior con solidos conocimientos en tecnologías, web modernas, adquiridas a través de una formación academica en informatica.'
  },
  en: {
    title: 'Juan-Camilo-Losada | Portfolio',
    description:
      'Junior Frontend Developer with solid knowledge of modern web technologies, acquired through academic training in computing.'
  }
}

interface Props {
  image?: string
}

const { image } = Astro.props

const ogImage = image || new URL(`${Astro.site}`).href
---

<Layout
  title={locales[currentLocale].title}
  description={locales[currentLocale].description}
  image={ogImage}
>
  <Header />
  <main>
    <Bento />
    <Experience />
    <Projects />
    <Skills />
    <Contact />
  </main>
  <Nav />
  <Footer />
</Layout>
